<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Режиссёры</title>
    <style>
        .film-link {
            text-decoration: none;
        }

        .film-link:hover {
            color: #001445;
        }

        .not-enough-book {
            color: red;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <h1>Все режиссёры</h1>
    <div class="row">
        <div class="col">
            <a sec:authorize = "isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
               href="directors/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить режиссёра</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Позиция</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directors}">
            <td>
                <a class="director-link" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorFio()}"></a>
            </td>
            <td th:text="${director.getPosition()}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>