<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Фильмы</title>
  <style>
    .film-link {
      text-decoration: none;
    }

    .film-link:hover {
      color: #001445;
    }

    .not-enough-book {
      color: red;
    }
  </style>
</head>

<body>
<div layout:fragment="content">
  <h1>Все фильмы</h1>
  <div class="row">
    <div class="col">
      <a sec:authorize = "isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
         href="films/add"
         class="btn btn-secondary"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить фильм</a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Жанр</th>
      <th scope="col">Год</th>
      <th scope="col">Страна</th>
      <th scope="col">Режиссёр</th>
      <th sec:authorize = "isAuthenticated() && !(hasRole('ADMIN') || hasRole('MANAGER'))" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film : ${films}">
      <td>
        <a class="film-link" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
      </td>
      <td th:text="${film.getGenre().getGenreDisplayValue()}"></td>
      <td th:text="${film.getPremierYear()}"></td>
      <td th:text="${film.getCountry()}"></td>
      <td>
        <ul>
          <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorFio()}"></li>
        </ul>
      </td>
      <td>
<!--        <div class="mt-2">-->
          <a th:href="'/rent/film/' + ${film.getId()}"
             role="button"
             sec:authorize = "isAuthenticated() && !(hasRole('ADMIN') || hasRole('MANAGER'))"
             class="btn btn-secondary">Арендовать фильм</a>
<!--          <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>-->
<!--        </div>-->
      </td>
    </tr>

    </tbody>
  </table>
</div>

</body>
</html>